* {
    padding: o;
    margin: 0;
};

:root {
    --dark: #003049;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'search current'
        'search fiveday';
}

header {
    text-align: center;
    background-color: #003049;
    color: white;
    padding: 3vh 3vw;
    margin-bottom: 1vh;
}

.search-wrapper {
    grid-area: search;
    margin: 1vh 1vw;
}

.current-city {
    grid-area: current;
    border: 1px solid black;
    border-radius: 8px;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}

.five-day {
    grid-area: fiveday;
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    background-color: aqua;
    color: var(--dark);
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 8px;
}